:root {
  --font-titre: 'Playfair Display', serif;
  --font-texte: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-texte);
  background-color: #FDF6F8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titre);
  font-style: italic;
}